<!-- Chevron Icon -->

<span class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="#chevron"></use>
  </svg>
</span>

<!-- Clock Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#clock"></use>
  </svg>
</span>

<!-- Computer Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#computer"></use>
  </svg>
</span>

<!-- Easy Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#easy"></use>
  </svg>
</span>

<!-- Growth Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#growth"></use>
  </svg>
</span>

<!-- Line Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#line"></use>
  </svg>
</span>

<!-- Menu Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#menu"></use>
  </svg>
</span>

<!-- Quotes Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#quotes"></use>
  </svg>
</span>

<!-- Search Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#search"></use>
  </svg>
</span>

<!-- Settings Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#settings"></use>
  </svg>
</span>

<!-- Snap Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#snap"></use>
  </svg>
</span>

<!-- Tick Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#tick"></use>
  </svg>
</span>

<!-- Wordpress Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="#wordpress"></use>
  </svg>
</span>
