<!-- Chevron Icon -->

<span class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#chevron"></use>
  </svg>
</span>

<!-- Clock Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#clock"></use>
  </svg>
</span>

<!-- Computer Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#computer"></use>
  </svg>
</span>

<!-- Easy Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#easy"></use>
  </svg>
</span>

<!-- Growth Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#growth"></use>
  </svg>
</span>

<!-- Line Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#line"></use>
  </svg>
</span>

<!-- Menu Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
</span>

<!-- Quotes Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#quotes"></use>
  </svg>
</span>

<!-- Search Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#search"></use>
  </svg>
</span>

<!-- Settings Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#settings"></use>
  </svg>
</span>

<!-- Snap Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#snap"></use>
  </svg>
</span>

<!-- Tick Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#tick"></use>
  </svg>
</span>

<!-- Wordpress Icon -->

<span class="icon-container">
  <svg class="icon">
    <use xlink:href="images/sprite.svg#wordpress"></use>
  </svg>
</span>
